
.row-header {
	margin: 0px auto;
	padding: 0px;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}

address {
	font-size: 90%;
	margin: 0px;
	color: #0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.google-map {
	padding: 10px 0px;
	border-radius: 100%;
	overflow: hidden;		
}
.btn-color{
	background-color: #eb3232;
	
}
.badge-primary{
	background-color: #ff6600df;
}

html{
	scroll-behavior: smooth;
}